.DS_Store
.dart_tool/

.packages
.pub/

build/

.vscode/
.idea/

# example app
example/.flutter-plugins-dependencies

## ios specific
example/ios/Runner.xcworkspace/
example/ios/Flutter/flutter_export_environment.sh

## android specific
